

numpy>=1.26.4
scipy>=1.11.4
pandas>=2.1.4
plotly>=5.9.0
matplotlib>=3.8.0
configparser>=5.0.2
pymysql>=1.0.2
tushare>=1.4.6
sqlalchemy>=2.0.25
backtrader>=1.9.78.123
quandl>=3.7.0
prophet>=1.1.4
akshare>=1.13.44
fake_useragent>=2.2.0
opencc-python-reimplemented>=0.1.7